# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = True

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Use tabs
indent_style = tab
indent_size = 2

[{lerna.json,package.json,package-lock.json}]
indent_style = space
indent_size = 2
